@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
    }
    .header {
        padding-bottom: 0px;
    }
    .header-container {
        display: flex;
    }
    .header-logo {
        margin-right: 120px;  
    }
    .header-list {
        display: flex;
        gap: 40px; 
    }
    .header-nav {
        margin-right: auto;
    }
    .mobile-menu-open {
        display: none;
    }
    .header-contacts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 16px;
        gap: 12px; 
    }
    .header-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--nav-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .current::after{
        position: absolute;
        content: "";
        display: block;
        left: 0px;
        top: 44px;
        width: 100%;
        height: 4px;
        background: #404BBF;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-link::after {
        display: block; 
        opacity: 1;
    }
    .header-link.current {
        color: var(--color-hover);
    }
    .header-add {
        font-style: normal; 
    }
    .header-contacts-link {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--contacts-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-contacts-link:hover, .header-contacts-link:focus {
        color: var(--color-hover);
    }
    .header-link:hover, .header-link:focus {
        color: var(--color-hover);
    }

/**!-------------------------HERO----------------------------!*/
.hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tabl.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tabl-2x.jpg);
  }
}
.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
}
.hero-btn:hover, .hero-btn:focus {
    background-color: var(--color-hover);    
}
/**!-------------------------ADVANT----------------------------!*/
.advant-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}    
.advant-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 1 * 24px) / 2);
}    
.advant-title {
    text-align: start;
    margin-top: 8px;
}
.advant-text {
    font-weight: 500;
}
/**!-------------------------DOINGT----------------------------!*/

/**!-------------------------TEAM----------------------------!*/
.team > .container {
    padding-left: 108px;
    padding-right: 108px;
}
.team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
} 
.team-item {   
    margin-bottom: 0;
}
.team-item:last-child {
    margin-bottom: auto;
}
.team-soc-link:hover, .team-soc-link:focus {
    background-color: #404BBF; 
}
/**!-------------------------CUSTOMERS----------------------------!*/
.customers > .container {
    padding-left: 108px;
    padding-right: 108px;
}
.customers-list {
    column-gap: 24px;
}
.customers-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}
.customer-link:hover, .customer-link:focus {
    border-color: #404BBF;
    fill: #404BBF;
}
/**!-------------------------FOOTER----------------------------!*/
.footer > .container {
    padding-left: 108px;
    padding-right: 108px;
}
.footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: flex-start;
}
.footer-div {
    width: 264px;
    align-items: flex-start;
}
.footer-soc {
    width: 208px;
    align-items: flex-start;
}
.footer-soc-link:hover, .footer-soc-link:focus {
    background-color: #31D0AA;
}
.footer-subscribe {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 453px;
}
.subscribe-container {
    display: flex;
    max-height: 40px;
}
.footer-subscribe-email {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-wrap {
    position: relative;
} 
.footer-input {
    padding: 8px 16px 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    width: 264px;
    margin-right: 24px;
    color: #FFFFFF;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-btn {
    width: 165px;
    padding: 8px 24px;
    background-color:  #4D5AE5;
    border-radius: 4px;
    border: transparent;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**!-------------------------PROJECTS----------------------------!*/
.projects {
    padding-top: 96px;
    padding-bottom: 120px;
}
.projects-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
} 
.projects-btn {
    background: var(--background-filtr);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--btn-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    row-gap: 48px;
    column-gap: 24px; 
}
.projects-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-btn:hover, .projects-btn:focus {
    background-color: var(--color-hover);
    color: var(--btn-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--color-hover);
}
.projects-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 8px;
}
.projects-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.projects-div {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none; 
    padding-left: 16px;
    position: relative;

}
.projects-link:hover, .projects-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-overley-text::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    opacity: 0;
}
.projects-overley-text {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 40px 32px 0 32px;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-overley {
    position: relative;
    overflow: hidden;
}
.projects-list-item:hover .projects-overley-text {
    transform: translateY(0);
}   
/**!-------------------------MODAL----------------------------!*/

.modal {
    min-width: 408px;
    background: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
}
.modal-close-btm-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
}

.modal-close-btn:hover .modal-close-btm-icon,
.modal-close-btn:focus .modal-close-btm-icon {
    fill: #FFFFFF;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.9);
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}
.send-btn:hover, .send-btn:focus {
    background-color: var(--color-hover);    
}
.mob-menu {
    display: none;
}
}
